body {
    background-image: url(image/mat-reding-zxHJq8hv-uo-unsplash.jpg);
    background-size: 1440px cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    overflow-x: hidden;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 250px;
  }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  @-webkit-keyframes color {
    100%,
    0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%,
    90% {
      stroke: #ffa700;
    }
  }
  @keyframes color {
    100%,
    0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%,
    90% {
      stroke: #ffa700;
    }
  }
  .showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
  

html {
    scroll-behavior: smooth;
}

i {
    visibility: hidden;
}

.name,
.intitule,
.place,
.poste {
    font-family: 'DM Serif Display', serif;
}

#presentation,
.year,
.missions_1,
.missions_2,
.missions_3,
.missions,
.menu_1,
.navigation,
.coordonnees,
.txt_scroll_1 {
    font-family: 'Nanum Gothic Coding', monospace;
}

.certification {
    margin-left: 100px;
    font-family: 'Nanum Gothic Coding', monospace;
}

p,
ul {
    font-size: 14px;
}

.navBar {
    position: relative;
    color: white;
}

.menu_1 {
    display: flex;
    transform: rotate(-90deg);
    transform-origin: left;
    padding-top: 46px;
    padding-right: 10px;
    padding-left: 300px;
    letter-spacing: 7px;
}

#parcours {
    margin-left: 890px;
    font-size: 20px;
}

#competences {
    font-size: 20px;
    margin-left: 840px;
}


#welcome {
    font-size: 20px;
}


.about_me {
    margin-right: 15px;
    text-align: right;
}

#presentation {
    font-size: 13px;
}

#home {
    margin-left: 500px;
    display: flex;
    margin-bottom: 76px;
    padding-top: 70px;
}

#home>img {
    width: 323px;
    height: 500px;
}


.text {
    bottom: 20px;
    margin-right: 40px;
    z-index: 1;
    width: 500px;
}

.text_1_1 {
    margin-bottom: 23px;
    margin-left: 151px;
}


.text_1 {
    margin-left: 5px;
    padding-top: 10px;
}


.text_2,
.text_3_1 {
    margin-left: 5px;
    padding-top: 10px;
}

.text_4 {
    margin-left: 15px;
    padding-top: 10px;

}

.text_5 {
    text-align: right;
    z-index: 1;
}

#formation_1 {
    display: flex;
    width: 300px;
    margin-left: 146px;
    padding-top: 2px;
}

.text_6 {
    margin-left: 20px;
    width: 300px;
}

#row_1 {
    position: relative;
    top: 170px;
}

.formation_2 {
    /* left: 700px; */
    position: relative;
    top: 198px;
    display: flex;
    z-index: 1;
}

#formation_4>img {
    width: 280px;
    height: 400px;
}

#formation_4 {
    position: relative;
    margin-left: 155px;
    display: flex;
    padding-top: 70px;
    top: 333px;
}

.info_5 {
    display: flex;
    padding: 10px;
    text-align: right;
    position: relative;
    margin-bottom: 210px;
    margin-left: 198px;
}


.info_2 {
    display: flex;
    text-align: right;
    position: relative;
    margin-bottom: 210px;
}


#experience_1 {
    visibility: hidden;
    width: 300px;
    height: 158px;
    text-align: center;
    background-color: #ffffff2e;
    position: relative;
    left: 20px;
    bottom: 10px;
    z-index: 1;
}

#experience_2 {
    visibility: hidden;
    text-align: center;
    margin-top: 115px;
    height: 172px;
    width: 325px;
    padding-bottom: 1px;
    background-color: #ffffff2e;
    z-index: 1;
}

#experience_3 {
    visibility: hidden;
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: 63px;
    width: 283px;
    padding-bottom: 1px;
    left: 37px;
    background-color: #ffffff2e;
}

#experience_4 {
    visibility: hidden;
    background-color: #ffffff2e;
    margin-left: 55px;
    margin-top: 10px;
    position: relative;
    width: 407px;
    height: 237px;
    z-index: 1;
}

#experience_5 {
    display: flex;
    position: relative;
    top: 367px;
    /* right: -300px; */
    /* width: 450px;  */
}

.missions_1,
.missions_2,
.missions_3 {
    line-height: 3px;
}

#button_1 {
    margin-right: 200px;
    background-color: whitesmoke;
    z-index: 1;
}

#button_2 {
    margin-top: 294px;
    margin-left: 188px;
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
}

#button_3 {
    position: absolute;
    margin-top: 231px;
    margin-left: 160px;
    z-index: 1;
    background-color: whitesmoke;
}

#button_4 {
    margin-left: 165px;
    z-index: 1;
    background-color: whitesmoke;
}

#button_5 {
    position: relative;
    top: 206px;
    left: 252px;
    z-index: 1;
    background-color: whitesmoke;
}

#button_6 {
    position: relative;
    top: 206px;
    left: 652px;
    z-index: 1;
    background-color: whitesmoke;
}

.coordonnees>a {
    color: black;
    padding: 10px;
}

.coordonnees {
    padding-top: 20px;
    font-size: 17px;
    margin-left: 120px;
    word-spacing: -7px;
}

#lm {
    word-spacing: 1px;
}

nav>#crdn {
    text-decoration: none;
}

nav>#phone {
    text-decoration: none;
}

nav>#lkd {
    text-decoration: none;
}

nav>#git {
    text-decoration: none;
}

#cloud_1 {
    position: absolute;
    width: 1100px;
    left: 700px;
}

#cloud_1_1 {
    position: absolute;
    width: 680px;
    height: 350px;
    animation: cloud-move 30s infinite linear;
}

#cloud_1_2 {
    position: absolute;
    width: 400px;
    animation: cloud-move_2 40s infinite linear;
}

#cloud_1_3 {
    position: absolute;
    width: 680px;
    animation: cloud-move_3 35s infinite linear;
}

#cloud_1_4 {
    position: absolute;
    width: 680px;
    animation: cloud-move_3 35s infinite linear;
}

#cloud_2 {
    position: absolute;
    width: 747px;
    height: 386px;
    margin-top: 405px;
    margin-left: -384px;
}

#cloud_3 {
    position: absolute;
    width: 1100px;
    z-index: 1;
    left: 800px;
}

#cloud_4 {
    position: absolute;
    width: 800px;
    height: 300px;
    z-index: 1;
    margin-left: 350px;
    margin-top: 270px;
}

#cloud_5 {
    position: absolute;
    width: 900px;
    height: 500px;
    right: 600px;
}

#cloud_6 {
    position: absolute;
    width: 900px;
    height: 500px;
    right: 600px;
}

#cloud_7 {
    position: absolute;
    width: 920px;
    left: 893px;
}

#move-cloud-line-left {
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    left: 0;
}

.line-cloud_1 {
    top: 1240px;
    height: 550px;
}

.line-cloud_1_3 {
    top: 1900px;
    height: 785px;
}

.line-cloud_1_4 {
    top: 100px;
    height: 785px;
}

.line-cloud_7 {
    top: 514px;
    height: 550px;
}

.line-cloud_1_1 {
    top: 750px;
    height: 350px;
}

.line-cloud_1_2 {
    top: 1600px;
    height: 350px;
}

.line-cloud_1_3 {
    top: 1600px;
    height: 785px;
}

#presentation {
    font-size: 15px;
}


.scroll_1 {
    position: absolute;
    width: 53px;
    height: 53px;
    margin-left: 685px;
    margin-top: -20px;
    transform: rotate(180deg);
}

.txt_scroll_1 {
    position: absolute;
    width: 115px;
    height: 53px;
    margin-top: -30px;
    margin-left: 730px;

}

.vl {
    border-left: 2px solid black;
    margin-left: 60px;
    height: 100%;
    position: fixed;
}

.navigation {
    z-index: 1;
    position: fixed;
    left: 100px;
    font-size: 17px;
    top: 20px;
    word-spacing: 30px;
}

.navigation>a {
    color: black;
    text-decoration: none;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/* ---- menu competence ---- */
input {
    position: absolute;
    display: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
    margin: 0 auto;
    position: absolute;
    top: 230px;
    left: 480px;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1;
}

.btn_1 {
    width: 70px;
    height: 70px;
    border-radius: 45px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.material-icons.md-36 {
    font-size: 36px;
    color: #03a9f4;
    height: 60px;
}

.btn_1 {
    background: #525f5a59;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn_1:not(:first-child) {
    opacity: 0;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;

    -webkit-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.btn_1:nth-child(2) {
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.btn_1:nth-child(3) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.btn_1:nth-child(4) {
    left: 0px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.btn_1:nth-child(5) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.btn_1:nth-child(6) {
    top: 0px;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.btn_1:nth-child(7) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.btn_1:nth-child(8) {
    left: 0px;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.btn_1:nth-child(9) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

input#toggle:checked~#show-menu .btn_1:nth-child(2) {
    top: -100px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(3) {
    top: -60px;
    left: 80px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(4) {
    left: 120px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(5) {
    top: 80px;
    left: 80px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(6) {
    top: 120px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(7) {
    top: 80px;
    left: -80px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(8) {
    left: -120px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked~#show-menu .btn_1:nth-child(9) {
    top: -60px;
    left: -80px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn,
.closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

input#toggle:checked~#show-menu .btn_1 .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}

input#toggle:checked~#show-menu .btn_1 .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

/* ---- menu loisirs ---- */
input {
    position: absolute;
    display: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu_1_2 {
    margin: 0 auto;
    position: absolute;
    top: 230px;
    left: 975px;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1;
}

.btn_2 {
    width: 70px;
    height: 70px;
    border-radius: 45px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.material-icons.md-36 {
    font-size: 36px;
    color: #03a9f4;
    height: 60px;
}

.btn_2 {
    background: #525f5a59;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn_2:not(:first-child) {
    opacity: 0;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;

    -webkit-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.btn_2:nth-child(2) {
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.btn_2:nth-child(3) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.btn_2:nth-child(4) {
    left: 0px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.btn_2:nth-child(5) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(2) {
    top: -90px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(3) {
    left: 100px;
    top: 10px;
    opacity: 1;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(4) {
    top: 110px;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(5) {
    left: -100px;
    top: 10px;
    opacity: 1;
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn_2,
.closeBtn_2 {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn_2 {
    transform: translateY(50px);
    opacity: 0;
}

input#toggle_2:checked~#show-menu_2 .btn_2 .menuBtn_2 {
    transform: translateY(-50px);
    opacity: 0;
}

input#toggle_2:checked~#show-menu_2 .btn_2 .closeBtn_2 {
    transform: translateY(0px);
    opacity: 1;
}

@keyframes cloud-move {
    0% {
        transform: translate(1250px, 0);
    }

    100% {
        transform: translate(-1000px, 0);
    }
}

@keyframes cloud-move_2 {
    0% {
        transform: translate(1300px, 0);
    }

    100% {
        transform: translate(-1430px, 0);
    }
}

@keyframes cloud-move_3 {
    0% {
        transform: translate(-80vw, 0);
    }

    100% {
        transform: translate(1400px, 0);
    }
}

/*responsive ecran 2560px */
@media screen and (max-width: 2560px) {
    .navigation {
        z-index: 1;
        position: fixed;
        left: 1175px;
        font-size: 17px;
        top: 20px;
        word-spacing: 30px;
    }
    .menu {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 1080px;
        margin-left: -590px;
        margin-top: -25px;
        z-index: 1;
    }
    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 1500px;
        margin-left: -450px;
        margin-top: -25px;
        z-index: 1;
    }
    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 210px;
        margin-left: 798px;
    }
    #experience_1 {
        visibility: hidden;
        width: 300px;
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        position: relative;
        left: 610px;
        bottom: 10px;
        z-index: 1;
    }
    .text_1_1 {
        margin-bottom: 23px;
        margin-left: 751px;
    }
    #cloud_1 {
        position: absolute;
        width: 1100px;
        left: 1500px;
    }
    .line-cloud_1 {
        top: 1240px;
        height: 566px;
    }
    @keyframes cloud-move_2 {
        0% {
            transform: translate(2600px, 0);
        }
    
        100% {
            transform: translate(-1430px, 0);
        }
    }
    @keyframes cloud-move_3 {
        0% {
            transform: translate(-80vw, 0);
        }
    
        100% {
            transform: translate(2600px, 0);
        }
    }
    .line-cloud_1_2 {
        top: 1600px;
        height: 370px;
    }
    .line-cloud_1_3 {
        top: 2000px;
        height: 609px;
    }
    #cloud_6 {
        position: absolute;
        width: 900px;
        height: 600px;
        right: 1000px;
    }
    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: -30px;
        margin-left: 43%;
    }
    .scroll_1 {
        position: absolute;
        width: 53px;
        height: 53px;
        margin-left: 40%;
        margin-top: -20px;
        transform: rotate(180deg);
    }
}
/*responsive ecran 1440px */
@media screen and (max-width: 1440px) {
    body {
        overflow-x: hidden;
    }

    #cloud_1 {
        position: absolute;
        width: 1100px;
        left: 700px;
    }

    #cloud_7 {
        position: absolute;
        width: 920px;
        left: 893px;
    }

    #cloud_3 {
        position: absolute;
        width: 1000px;
        height: 500px;
        z-index: 1;
        left: 800px;
    }

    .line-cloud_1_3 {
        top: 1880px;
        height: 785px;
    }

    .navigation {
        z-index: 1;
        position: fixed;
        left: 1010px;
        font-size: 17px;
        top: 20px;
        word-spacing: 30px;
    }

    .menu {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 480px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 975px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    #parcours {
        margin-left: 895px;
        font-size: 20px;
    }

    #competences {
        font-size: 20px;
        margin-left: 760px;
    }

    .info_2 {
        display: flex;
        text-align: right;
        position: relative;
        margin-bottom: 210px;
        margin-left: 713px;
    }

    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        left: 120px;
        margin-bottom: 210px;
    }

    #experience_1 {
        visibility: hidden;
        width: 300px;
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        position: relative;
        left: 0px;
        bottom: 10px;
        z-index: 1;
    }

    .text_1_1 {
        margin-bottom: 23px;
        margin-left: 151px;
    }

    .scroll_1 {
        position: absolute;
        width: 53px;
        height: 53px;
        margin-left: 640px;
        margin-top: -20px;
        transform: rotate(180deg);
    }

    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: -30px;
        margin-left: 690px;

    }

    @keyframes cloud-move {
        0% {
            transform: translate(1250px, 0);
        }

        100% {
            transform: translate(-1000px, 0);
        }
    }

    @keyframes cloud-move_2 {
        0% {
            transform: translate(1300px, 0);
        }

        100% {
            transform: translate(-1430px, 0);
        }
    }

    @keyframes cloud-move_3 {
        0% {
            transform: translate(-80vw, 0);
        }

        100% {
            transform: translate(1400px, 0);
        }
    }

}

/* responsive ecran 1024px */
@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        left: -214px;
        margin-bottom: 210px;
    }

    .navigation {
        z-index: 1;
        position: fixed;
        left: 842px;
        width: 310px;
        font-size: 17px;
        top: 170px;
        transform: rotate(-90deg);
    }

    #parcours {
        margin-left: 750px;
        font-size: 20px;
    }

    #competences {
        font-size: 20px;
        margin-left: 900px;
    }

    .coordonnees {
        padding-top: 20px;
        font-size: 17px;
        margin-left: 85px;
        word-spacing: -20px;
    }


    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 735px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    .menu {
        margin: 0 auto;
        position: absolute;
        top: 230px;
        left: 320px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    #experience_5 {
        display: flex;
        position: relative;
        top: 367px;
        /* right: -300px; */
        /* width: 450px; */
    }

    .text_5 {
        text-align: right;
        z-index: 1;
        width: 300px;
    }

    .text_4 {
        margin-left: 15px;
        padding-top: 10px;
        width: 272px;
    }

    #experience_4 {
        visibility: hidden;
        background-color: #ffffff2e;
        margin-left: 55px;
        margin-top: 10px;
        position: relative;
        width: 301px;
        height: 255px;
        z-index: 1;
    }

    #formation_3 {
        margin-left: 105px;
        width: 230px;
    }

    #button_4 {
        margin-left: 93px;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_3 {
        visibility: hidden;
        z-index: 1;
        position: relative;
        text-align: center;
        margin-top: 100px;
        width: 234px;
        padding-bottom: 1px;
        left: 71px;
        background-color: #ffffff2e;
    }

    #button_3 {
        position: absolute;
        margin-top: 268px;
        margin-left: 160px;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_2 {
        visibility: hidden;
        text-align: center;
        margin-top: 190px;
        height: 159px;
        width: 276px;
        padding-bottom: 1px;
        background-color: #ffffff2e;
        z-index: 1;
    }

    #button_2 {
        margin-top: 357px;
        margin-left: 124px;
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
    }

    .info_2 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 210px;
        margin-left: 490px;
        z-index: 1;
    }

    #experience_1 {
        visibility: hidden;
        width: 300px;
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        position: relative;
        left: 40px;
        bottom: 10px;
        z-index: 1;
    }

    #home {
        margin-left: 246px;
        display: flex;
        margin-bottom: 76px;
        padding-top: 70px;
    }

    #home>img {
        width: 316px;
        height: 435px;
    }

    .scroll_1 {
        position: absolute;
        width: 53px;
        height: 53px;
        margin-left: 450px;
        margin-top: -20px;
        transform: rotate(180deg);
    }

    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: -30px;
        margin-left: 500px;

    }

    #cloud_1 {
        position: absolute;
        width: 1100px;
        left: 500px;
    }

    #cloud_3 {
        position: absolute;
        width: 614px;
        height: 400px;
        z-index: 1;
        left: 583px;
    }

    #cloud_5 {
        position: absolute;
        width: 900px;
        height: 500px;
        right: 300px;
    }

    #cloud_7 {
        position: absolute;
        width: 920px;
        left: 609px;
    }

    .line-cloud_1_2 {
        top: 1645px;
        height: 350px;
    }

    .line-cloud_1_3 {
        top: 2000px;
        height: 610px;
    }

    @keyframes cloud-move {
        0% {
            transform: translate(1250px, 0);
        }

        100% {
            transform: translate(-1000px, 0);
        }
    }

    @keyframes cloud-move_2 {
        0% {
            transform: translate(1300px, 0);
        }

        100% {
            transform: translate(-1430px, 0);
        }
    }

    @keyframes cloud-move_3 {
        0% {
            transform: translate(-80vw, 0);
        }

        100% {
            transform: translate(1400px, 0);
        }
    }

}

/* responsive ecran 768pxpx */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navigation {
        z-index: 1;
        position: fixed;
        left: 590px;
        width: 300px;
        font-size: 15px;
        top: 94px;
        display: block;
        word-spacing: 11px;
        transform: rotate(-90deg);
    }

    #parcours {
        margin-left: 750px;
        font-size: 20px;
    }

    #competences {
        font-size: 20px;
        margin-left: 830px;
    }

    .coordonnees {
        padding-top: 20px;
        font-size: 17px;
        margin-left: 79px;
        word-spacing: -22px;
    }


    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 217px;
        left: 570px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    .menu {
        position: absolute;
        margin-bottom: 55px;
        top: 217px;
        left: 238px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    #formation_4 {
        position: relative;
        margin-left: 80px;
        display: flex;
        padding-top: 170px;
        top: 197px;
    }


    #experience_5 {
        /* margin-left: 220px; */
        display: flex;
        position: relative;
        top: 235px;
        right: 0px;
        /* width: 450px; */
    }

    .text_4 {
        margin-left: 15px;
        padding-top: 10px;
        width: 272px;
    }

    #experience_4 {
        visibility: hidden;
        background-color: #ffffff2e;
        margin-left: 39px;
        margin-top: 10px;
        position: relative;
        width: 295px;
        height: 255px;
        z-index: 1;
    }

    #formation_3 {
        margin-left: 70px;
        width: 230px;
    }

    #button_4 {
        margin-left: 93px;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_3 {
        visibility: hidden;
        z-index: 1;
        position: relative;
        text-align: center;
        margin-top: 65px;
        width: 234px;
        padding-bottom: 1px;
        left: 45px;
        background-color: #ffffff2e;
    }

    #button_3 {
        position: absolute;
        margin-top: 234px;
        margin-left: 145px;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_2 {
        visibility: hidden;
        text-align: center;
        margin-top: 351px;
        margin-left: -95px;
        height: 159px;
        width: 276px;
        padding-bottom: 1px;
        background-color: #ffffff2e;
        z-index: 1;
    }


    .text_1_1 {
        margin-bottom: 15px;
        margin-left: 509px;
        width: 224px;
    }

    #experience_1 {
        visibility: hidden;
        /* width: 300px; */
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        position: relative;
        left: 394px;
        /* margin-right: -403px; */
        bottom: 10px;
        z-index: 1;
    }


    .formation_2 {
        /* left: 700px; */
        position: relative;
        top: 198px;
        display: flex;
        margin-top: 38px;
    }

    #button_2 {
        margin-top: 305px;
        margin-left: 124px;
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
    }

    #button_1 {
        margin-right: 200px;
        background-color: whitesmoke;
        z-index: 1;
    }

    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 0px;
        left: -445px;
    }

    #row_1 {
        position: relative;
        top: 219px;
    }

    .info_2 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 67px;
        margin-left: -80px;
    }

    #formation_1 {
        display: flex;
        width: 293px;
        margin-left: 80px;
        padding-top: 65px;
        margin-bottom: 11px;
    }

    .about_me {
        margin-right: 15px;
        text-align: right;
        width: 300px;
    }

    #home {
        margin-left: 65px;
        display: flex;
        margin-bottom: 76px;
        padding-top: 120px;
    }

    #home>img {
        width: 260px;
        height: 384px;
    }

    .scroll_1 {
        position: absolute;
        width: 53px;
        height: 53px;
        margin-left: 368px;
        margin-top: -20px;
        transform: rotate(180deg);
    }

    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: -30px;
        margin-left: 415px;

    }

    #cloud_1 {
        position: absolute;
        width: 1100px;
        left: 300px;
    }

    #cloud_1_1 {
        position: absolute;
        width: 400px;
        height: 200px;
        animation: cloud-move 30s infinite linear;
    }

    #cloud_3 {
        position: absolute;
        width: 614px;
        height: 400px;
        z-index: 1;
        left: 583px;
    }

    #cloud_5 {
        position: absolute;
        width: 900px;
        height: 500px;
        right: 100px;
    }

    #cloud_6 {
        position: absolute;
        width: 900px;
        height: 500px;
        right: 400px;
    }

    #cloud_7 {
        position: absolute;
        width: 920px;
        left: 400px;
    }


    .line-cloud_1 {
        top: 1300px;
        height: 550px;
    }

    .line-cloud_1_2 {
        top: 1635px;
        height: 350px;
    }

    .line-cloud_1_3 {
        top: 2000px;
        height: 569px;
    }

    @keyframes cloud-move {
        0% {
            transform: translate(1250px, 0);
        }

        100% {
            transform: translate(-1000px, 0);
        }
    }

    @keyframes cloud-move_2 {
        0% {
            transform: translate(1300px, 0);
        }

        100% {
            transform: translate(-1430px, 0);
        }
    }

    @keyframes cloud-move_3 {
        0% {
            transform: translate(-80vw, 0);
        }

        100% {
            transform: translate(1400px, 0);
        }
    }

}

/* responsive ecran 425pxpx */
@media screen and (max-width: 425px) {

    #lm {
        word-spacing: -68px;
    }

    .coordonnees>a {
        visibility: hidden;
    }

    i {
        visibility: visible;
    }

    .h1,
    h1 {
        font-size: 2rem;
    }

    #presentation {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .certification>p,
    .txt_scroll_1 {
        font-size: 10px;
    }

    .missions_1>p,
    .missions_2>p,
    .missions_3>p,
    .missions>li,
    .missions>p {
        font-size: 11px;
    }

    #parcours {
        margin-left: 902px;
    }

    #competences {
        margin-left: 1322px;
    }

    .navigation {
        visibility: visible;
        z-index: 1;
        position: fixed;
        left: 302px;
        width: 200px;
        word-spacing: 7px;
        font-size: 13px;
        top: 126px;
        display: block;
        transform: rotate(-90deg);
    }

    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 133px;
        left: 222px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    .menu {
        position: absolute;
        margin-bottom: 55px;
        top: 357px;
        left: 222px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    /* reglage emplacement bouton pour loisirs */
    input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(2) {
        top: -60px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(3) {
        left: 70px;
        top: 10px;
        opacity: 1;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(4) {
        top: 80px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle_2:checked~#show-menu_2 .btn_2:nth-child(5) {
        left: -70px;
        top: 10px;
        opacity: 1;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }


    /* reglage emplacement bouton pour competences */
    input#toggle:checked~#show-menu .btn_1:nth-child(2) {
        top: -80px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(3) {
        top: -50px;
        left: 60px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(4) {
        left: 80px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(5) {
        top: 70px;
        left: 60px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(6) {
        top: 100px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(7) {
        top: 70px;
        left: -60px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(8) {
        left: -80px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn_1:nth-child(9) {
        top: -50px;
        left: -60px;
        opacity: 1;
        filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .material-icons.md-36 {
        font-size: 40px;
        color: #03a9f4;
        height: 43px;
    }

    .btn_1,
    .btn_2 {
        width: 50px;
        height: 50px;
        border-radius: 45px;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
    }

    .coordonnees {
        padding-top: 20px;
        font-size: 18px;
        margin-left: 53px;
        width: 350px;
        word-spacing: -159px;
    }

    #cloud_1 {
        position: absolute;
        width: 1100px;
        left: 100px;
    }

    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 0px;
        margin-left: -150px;
    }

    #formation_4 {
        position: relative;
        margin-left: 20px;
        display: flex;
        padding-top: 240px;
        top: 223px;
    }

    #formation_3 {
        margin-left: 40px;
        width: 230px;
        margin-bottom: 80px;
    }

    .text_4 {
        margin-left: 15px;
        padding-top: 10px;
        width: 230px;
    }

    #experience_4 {
        visibility: visible;
        background-color: #ffffff2e;
        margin-left: 39px;
        margin-top: -122px;
        position: absolute;
        width: 252px;
        height: 238px;
        z-index: 1;
    }

    #button_4 {
        visibility: hidden;
        margin-left: 93px;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_3 {
        visibility: visible;
        z-index: 1;
        position: absolute;
        text-align: center;
        margin-top: 155px;
        margin-left: 90px;
        width: 234px;
        padding-bottom: 1px;
        left: 45px;
        background-color: #ffffff2e;
    }

    #button_3 {
        visibility: hidden;
        position: absolute;
        margin-top: 234px;
        margin-left: 145px;
        z-index: 1;
        background-color: whitesmoke;
    }

    .formation_2 {
        position: relative;
        right: 50px;
        top: 202px;
        width: 300px;
        margin-bottom: -25px;
    }

    #experience_5 {
        display: flex;
        position: relative;
        top: 235px;
        left: 0px;
        right: 0;
    }

    #button_2 {
        visibility: hidden;
        margin-top: 305px;
        margin-left: 124px;
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
    }

    #experience_2 {
        visibility: visible;
        text-align: center;
        margin-top: 351px;
        margin-left: 26px;
        height: 159px;
        width: 276px;
        padding-bottom: 1px;
        background-color: #ffffff2e;
        z-index: 1;
    }

    #button_1 {
        visibility: hidden;
        margin-right: 100px;
        background-color: whitesmoke;
        z-index: 1;
    }

    .text_1_1 {
        margin-bottom: 15px;
        margin-left: 578px;
        width: 224px;
    }

    #experience_1 {
        visibility: visible;
        width: 257px;
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        margin-right: 0;
        margin-left: 545px;
        bottom: 57px;
        z-index: 1;
        left: 0;
    }

    .info_2 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 80px;
        margin-left: -407px;
    }

    #formation_1 {
        display: flex;
        width: 293px;
        margin-left: 30px;
        padding-top: 110px;
        margin-bottom: 0;
    }

    #cloud_1_3 {
        position: absolute;
        z-index: 0;
        animation: cloud-move_3 35s infinite linear;
    }

    .line-cloud_1_3 {
        top: 2414px;
        height: 500px;
    }

    .about_me {
        margin-right: 15px;
        text-align: right;
        width: 260px;
    }

    #home {
        margin-left: 65px;
        margin-bottom: 35px;
        padding-top: 50px;
        display: block;
    }

    .scroll_1 {
        position: absolute;
        width: 35px;
        height: 35px;
        margin-left: 180px;
        margin-top: 5px;
        transform: rotate(180deg);
    }

    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: 0px;
        margin-left: 210px;
    }

    .certification {
        margin-left: 40px;
        font-family: 'Nanum Gothic Coding', monospace;
    }

    .menu_1 {
        display: flex;
        transform: rotate(-90deg);
        transform-origin: left;
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 300px;
        letter-spacing: 7px;
    }

    .vl {
        border-left: 2px solid black;
        margin-left: 37px;
        height: 100%;
        position: fixed;
    }

    #home>img {
        width: 260px;
        height: 340px;
    }

    #welcome,
    #parcours,
    #competences {
        font-size: 13px;
    }

    .line-cloud_1_2 {
        top: 1755px;
        height: 400px;
    }

    #cloud_6 {
        position: absolute;
        width: 300px;
        height: 300px;
        right: 207px;
    }

    @keyframes cloud-move {
        0% {
            transform: translate(1250px, 0);
        }
    
        100% {
            transform: translate(-1000px, 0);
        }
    }
    
    @keyframes cloud-move_2 {
        0% {
            transform: translate(600px, 0);
        }
    
        100% {
            transform: translate(-600px, 0);
        }
    }
    
    @keyframes cloud-move_3 {
        0% {
            transform: translate(-200vw, 0);
        }
    
        100% {
            transform: translate(600px, 0);
        }
    }

}

/* responsive ecran 375pxpx */
@media screen and (max-width: 375px) {
    #row_1 {
        position: relative;
        top: 219px;
        overflow-x: hidden;
    }
    #cloud_3 {
        visibility: hidden;
        position: absolute;
        width: 614px;
        height: 400px;
        z-index: 1;
        left: 583px;
    }
    .line-cloud_1 {
        top: 1300px;
        height: 568px;
    }
    #parcours {
        margin-left: 935px;
    }
    #competences {
        margin-left: 1285px;
    }
    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 133px;
        left: 200px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }
    .menu {
        position: absolute;
        margin-bottom: 55px;
        top: 357px;
        left: 200px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }
    .info_2 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 80px;
        margin-left: -380px;
    }

    #cloud_2 {
        position: absolute;
        width: 747px;
        height: 386px;
        margin-top: 405px;
        margin-left: -510px;
    }
    .scroll_1 {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 145px;
        margin-left: 0;
        margin-top: 5px;
        transform: rotate(180deg);
    }
    .info_5 {
        display: flex;
        padding: 10px;
        text-align: right;
        position: relative;
        margin-bottom: 0px;
        margin-left: -165px;
    }
    .coordonnees {
        padding-top: 16px;
        font-size: 17px;
        margin-left: 60px;
        width: 300px;
        word-spacing: -73px;
    }
    #cloud_5 {
        visibility: hidden;
        position: absolute;
        width: 900px;
        height: 500px;
        right: -104px;
    }
    .navigation {
        visibility: hidden;
        z-index: 1;
        position: fixed;
        left: 268px;
        font-size: 12px;
        top: 82px;
        display: flex;
        transform: rotate(-90deg);
    }
    #experience_5 {
        display: flex;
        position: relative;
        top: 235px;
        left: -18px;
        right: 0;
    }
    #experience_3 {
        visibility: visible;
        z-index: 1;
        position: absolute;
        text-align: center;
        margin-top: 155px;
        margin-left: 64px;
        width: 234px;
        padding-bottom: 1px;
        left: 45px;
        background-color: #ffffff2e;
    }

    #experience_2 {
        visibility: visible;
        text-align: center;
        margin-top: 351px;
        margin-left: 26px;
        height: 159px;
        width: 257px;
        padding-bottom: 1px;
        background-color: #ffffff2e;
        z-index: 1;
    }
    .text_1_1 {
        margin-bottom: 15px;
        margin-left: 520px;
        width: 224px;
    }
    #experience_1 {
        visibility: visible;
        width: 257px;
        height: 158px;
        text-align: center;
        background-color: #ffffff2e;
        /* position: relative; */
        /* right: 9px; */
        margin-right: 0;
        margin-left: 490px;
        bottom: 57px;
        z-index: 1;
        left: 0;
    }
    #home {
        margin-left: 50px;
        margin-bottom: 35px;
        padding-top: 50px;
        display: block;
    }
}

/* responsive ecran 320pxpx */

@media screen and (max-width: 320px) {
    .h1,
    h1 {
        font-size: 1.5rem;
    }

    #presentation {
        font-size: 11px;
        margin-bottom: 2px;
    }

    .certification>p,
    .txt_scroll_1 {
        font-size: 10px;
    }

    .missions_1>p,
    .missions_2>p,
    .missions_3>p,
    .missions>li,
    .missions>p {
        font-size: 11px;
    }
    .text {
        bottom: 20px;
        margin-left: 21px;
        z-index: 1;
        width: 296px;
        /* margin-right: -21px; */
    }
    #row_1 {
        position: relative;
        top: 219px;
        overflow-x: hidden;
    }
    .menu {
        position: absolute;
        margin-bottom: 55px;
        top: 357px;
        left: 169px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }

    .menu_1_2 {
        margin: 0 auto;
        position: absolute;
        top: 133px;
        left: 169px;
        margin-left: -25px;
        margin-top: -25px;
        z-index: 1;
    }
    .coordonnees {
        padding-top: 16px;
        font-size: 17px;
        margin-left: 41px;
        width: 250px;
        word-spacing: -73px;
    }
    #competences {
        margin-left: 1301px;
    }
    #parcours {
        margin-left: 904px;
    }
    .vl {
        border-left: 2px solid black;
        margin-left: 35px;
        height: 100%;
        position: fixed;
    }
    #experience_5 {
        display: flex;
        position: relative;
        top: 235px;
        left: -75px;
        right: 0;
    }
    #experience_4 {
        visibility: visible;
        background-color: #ffffff2e;
        margin-left: 28px;
        margin-top: -122px;
        position: absolute;
        width: 252px;
        height: 238px;
        z-index: 1;
    }
    #experience_3 {
        visibility: visible;
        z-index: 1;
        position: absolute;
        text-align: center;
        margin-top: 155px;
        margin-left: 64px;
        width: 234px;
        padding-bottom: 1px;
        left: -12px;
        background-color: #ffffff2e;
    }
    .formation_2 {
        position: relative;
        right: 105px;
        top: 202px;
        width: 300px;
        margin-bottom: -25px;
    }
    #formation_1 {
        display: flex;
        width: 293px;
        margin-left: 0;
        padding-top: 110px;
        margin-bottom: -16px;
    }
    .scroll_1 {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 117px;
        margin-left: 0;
        margin-top: 5px;
        transform: rotate(180deg);
    }
    .txt_scroll_1 {
        position: absolute;
        width: 115px;
        height: 53px;
        margin-top: 0px;
        margin-left: 186px;
    }
    .certification {
        margin-left: 73px;
        font-family: 'Nanum Gothic Coding', monospace;
    }
    .about_me {
        margin-right: 0px;
        text-align: right;
        width: 208px;
    }
    #home {
        margin-left: 45px;
        margin-bottom: 30px;
        padding-top: 50px;
        display: block;
    }
    #home>img {
        width: 210px;
        height: 312px;
    }
}


