body {
    font-family: monospace;
    background-image: url(image/kenrick-mills-Wr7_0D6THK0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    overflow-x: hidden;


}

p,
ul {
    font-size: 14px;
}

.navBar {
    position: relative;
    color: white;
}

.menu {
    display: flex;
    transform: rotate(-90deg);
    transform-origin: left;
    padding-top: 46px;
    padding-right: 10px;
    padding-left: 300px;
}

#parcours {
    padding-left: 700px;
}

.about_me {
    margin-right: 15px;
    text-align: right;
}

#presentation {
    font-size: 13px;
}

#home {
    margin-left: 500px;
    display: flex;
    margin-bottom: 145px;
    padding-top: 70px;
}

#home>img {
    width: 323px;
    height: 500px;
}


.text {
    margin-left: 20px;
}

.text_1,
.text_2,
.text_3_1 {
    margin-left: 5px;
    padding-top: 10px;
}

.text_4 {
    margin-left: 15px;
    padding-top: 10px;

}

.text_5 {
    text-align: right;
    z-index: 1;
}

#formation_1 {
    display: flex;
    width: 55%;
    padding-top: 70px;
}

.text_6 {
    margin-left: 20px;
    width: 300px;
}

#row_1{
    position: relative;
    top: 330px;
}

#formation_1>img,
.formation_2>img,
#formation_3>img,
#experience_5>img {
    width: 323px;
    height: 500px;
}

.formation_2,
#experience_5 {
    margin-left: 400px;
    position: relative;
    top: 198px;
    display: flex;
}

#formation_4>img {
    width: 280px;
    height: 400px;
}

#formation_4 {
    position: relative;
    margin-left: 150px;
    display: flex;
    padding-top: 70px;
    top: 370px;
}

.info {
    display: flex;
    padding: 10px;
    text-align: right;
}

#experience_1 {
    visibility: hidden;
    margin-right: 65px;
    width: 300px;
    height: 160px;
    text-align: center;
    background-color: #ffffff2e;
}

#experience_2 {
    visibility: hidden;
    text-align: center;
    margin-top: 15px;
    height: 160px;
    width: 315px;
    padding-bottom: 1px;
    background-color: #ffffff2e;
}

#experience_3 {
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    width: 283px;
    padding-bottom: 1px;
    background-color: #ffffff2e;
}

#experience_4 {
    visibility: hidden;
    background-color: #ffffff2e;
    margin-left: 55px;
    position: relative;
    width: 395px;
    height: 235px;
}

#experience_5 {
    margin-left: 400px;
    display: flex;
    position: relative;
    top: 385px;
    left: 103px;
}

.missions_1,
.missions_2,
.missions_3 {
    line-height: 3px;
}

#button_1 {
    margin-right: 200px;
}

#button_2 {
    margin-top: 540px;
    margin-left: 135px;
}

#button_3 {
    margin-top: 430px;
    margin-left: 115px;

}

#button_4 {
    margin-left: 165px;
}

#carouselExampleIndicators {
    padding-top: 70px;
}

.coordonnees>a {
    color: black;
    padding: 10px;
}

.coordonnees {
    padding-top: 20px;
    font-size: 17px;
    margin-left: 160px;
    word-spacing: 23px;
}

nav>.crdn {
    text-decoration: none;
}

#cloud_1 {
    position: absolute;
    width: 1100px;
    height: 500px;
    margin-left: 100px;
    margin-top: 623px;
}

#cloud_1_1 {
    position: absolute;
    width: 680px;
    height: 350px;
    margin-top: 580px;
    margin-left: 1300px;
    animation: cloud-move 25s infinite linear;
    z-index: 1;
}

#cloud_1_2 {
    position: absolute;
    width: 680px;
    height: 350px;
    margin-top: 0px;
    margin-left: 1300px;
    animation: cloud-move_2 40s infinite linear;
}

#cloud_1_3 {
    position: absolute;
    width: 680px;
    height: 350px;
    margin-top: 100px;
    margin-right: 1300px;
    animation: cloud-move_3 35s infinite linear;
}

#cloud_2 {
    position: absolute;
    width: 781px;
    height: 386px;
    margin-top: 720px;
    z-index: 1;
}

#cloud_3 {
    position: relative;
    width: 1100px;
    height: 500px;
    z-index: 1;
    top: 1226px;
    left: 759px;
}

#cloud_4 {
    position: absolute;
    width: 800px;
    height: 300px;
    z-index: 1;
    margin-left: 350px;
    margin-top: 270px;
}

#presentation {
    font-size: 15px;
}

#welcome,
#parcours {
    font-size: 20px;
}

.scroll_1 {
    position: absolute;
    width: 53px;
    height: 53px;
    margin-left: 685px;
    margin-top: -37px;
    transform: rotate(180deg);
}

.txt_scroll_1 {
    position: absolute;
    width: 115px;
    height: 53px;
    margin-top: -37px;
    margin-left: 730px;

}

.vl {
    border-left: 2px solid black;
    margin-left: 60px;
    height: 100vh;
    position: fixed;
}

#carouselExampleIndicators,
.carousel-indicators {
    position: relative;
    top: 362px;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

@-webkit-keyframes cloud-move {
    0% {
        transform: translate(200px, 0);
    }

    100% {
        transform: translate(-2500px, 0);
    }
}

@-webkit-keyframes cloud-move_2 {
    0% {
        transform: translate(200px, 0);
    }

    100% {
        transform: translate(-2500px, 0);
    }
}

@-webkit-keyframes cloud-move_3 {
    0% {
        transform: translate(-80vw, 0);
    }

    100% {
        transform: translate(1400px, 0);
    }
}